<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string> twitter</string><string> facebook</string><string> youtube</string><string> bongdaso</string><string> vnnet</string><string> ngôi sao</string><string> lao động</string><string> thanh niên</string><string> dân trí</string><string> báo mới</string><string> tuổi trẻ</string><string> báo 24h</string><string> vnexpress</string>
</array>
</plist>
