<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>twitter</string>
		<key>webLink</key>
		<string>http://m.twitter.com</string>
		<key>imageLink</key>
		<string>https://raw.github.com/lequysang/sieurao/master/sieurao_pics/twitter.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>facebook</string>
		<key>webLink</key>
		<string>http://m.facebook.com</string>
		<key>imageLink</key>
		<string>https://raw.github.com/lequysang/sieurao/master/sieurao_pics/facebook.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>youtube</string>
		<key>webLink</key>
		<string>http://m.youtube.com</string>
		<key>imageLink</key>
		<string>https://raw.github.com/lequysang/sieurao/master/sieurao_pics/youtube.png</string>
	</dict>
</array>
</plist>
